:root{
    --color-primary: #093a3e;
    --color-primary-dark: #001011;

    --color-secondary: #64e9ee;
    --color-secondary-dark: #3aafb9;

    --color-gray-light: #f1f1f1;
    --color-gray: #ccc;
    --color-gray-dark: #333;
}