#container {
    display: grid;
    grid-template-areas: 'header header'
                        'sidebar photos';
}


header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#photo-container {
    grid-area: photos;
}