@font-face {
    font-family: "DS-Digital-Bold";
    src: url(../fonts/DS-DIGIB.TTF);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #af830b;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#calculator {
    max-width: 500px;
    background-color: #686868;
    border-radius: 10px;
    box-shadow: 15px 15px 0px rgb(53, 53, 53);
    margin: 50px auto;
    padding: 30px 30px 0 30px;
}

#calculator::after {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    transform: rotate(45deg);
    margin-left: -29px;
    margin-top: -2px;
    z-index: -1 ;
}

#calculator::before {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: rgb(53, 53, 53);
    transform: rotate(45deg);
    margin-left: 460px;
    margin-top: -20px;
    border-radius: 10px;
    z-index: -1 ;
}

#calculator > .operands {
    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: #bcd1c0;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 70px;
    font-family: "DS-Digital-Bold";
}

#calculator > .operands > [data-operand-1] {
    font-size: 40px;
}

#calculator > .btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#calculator > .btn-grid > button {
    padding: 10px;
    font-size: 25px;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 10px;
    border-color: #c9c9c9;
    margin-bottom: 10px;
    border-width: 5px;
}


#calculator > .btn-grid > button:nth-child(2) {
    grid-column: span 2;
}
 
#calculator > .btn-grid > button:last-child {
    grid-column: span 2;   
    background-color: #f5a34d;
    border-color: #ce812a;
}

#copy {
    padding: 10px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}
